<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Smoke Suite" parallel="classes" thread-count="2">

	<listeners>
				<listener class-name="com.pratik.framework.listeners.TestListener"/>
	</listeners>

    <test name="Smoke Tests">

        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>

        <classes>
            <class name="com.pratik.tests.LoginTest"/>
            <class name="com.pratik.tests.LoginDataDrivenTest"/>
        </classes>

    </test>

</suite>